HTML/aktualnie/dtd.dtd

<?xml version="1.0" encoding="utf-8"?>

<!ELEMENT PRACOWNICY(DZIAŁ_SPOZYWCZY, DZIAŁ_CHEMICZNY, PRACOWNIK,NAZWISKO,IMIE,DATA_ZATR) *>
<!LEMENT PRACOWNIK(NAZWISKO,IMIE,DATA_ZATR)*>
<!ELEMENT DZIAŁ_SPOŻYWCZY (PRACOWNIK, NAZWISKO,IMIE,DATA_ZATR)*>
<!ELEMENT DZIAŁ_CHEMICZNY(PRACOWNIK,NAZWISKO,IMIE,DATA_ZATR) *>
